.container{
        background-color: #fff;        
        margin-top: 90px;
        margin-left: 90px;
}
.grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    height: 199px;
    grid-template-rows: 250px 250px;
    gap: 15px; 
}

.items{
    border-radius: 7px;
    
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(83, 12, 83);
    
}
.item2{
    background-color: gray;
}
.item3{
    height: 513px;
    background-color: #fff;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.096);
    
}
.item4{
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.096);
}
.item5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(26, 22, 22) ;
}
.profilpicture_and_name_placement{
    display: flex;
    justify-content: space-between;    
}
.profile_picture{
    height:30px ;
    width: 30px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 30px;
}
.profile_picture1{
    border: 3px solid rgb(255, 0, 255);
    background-image: url("/images/buttercup.jpg");
    background-size: contain;
}
.profile_picture2{
    border: 3px solid rgb(160, 148, 148);
    background-image: url("/images/wihtebear.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.profile_picture3{
    border: 3px solid rgb(240, 234, 240);
    background-image: url("/images/loli.jpg");
    background-size: contain;
}
.profile_picture4{
    border: 3px solid rgb(240, 234, 240);
    background-image: url("/images/onechan.jpg");
    background-size: contain;
}
.profile_picture5{
    border: 3px solid rgb(88, 86, 88);
    background-image: url("/images/girlwithhat.jpg");
    background-size: contain;
}
.name{
    
    font-size: 12px;
    color: #fff;
    top: 150px;
    left: 230px;
}
.contibustion{
    
    font-size: 11px;
    color: rgb(255, 11, 255);
    top: 170px;
    left: 230px;
}
.headder{
    font-size: 15px;
    color: #fff;
    text-align: justify;
    padding-left: 35px;
    padding-right: 100px;
}
.theprolog{
    font-size: 10px;
    color: rgb(221, 143, 221);
    text-align: justify;
    padding-left: 35px;
    padding-right: 100px;
}
.name2{
    
    font-size: 12px;
    color: #fff;
    top: 155px;
    left: 56%;
}
.contibustion2{
    
    font-size: 11px;
    color: rgb(172, 169, 172);
    top: 170px;
    left: 56%;
}
.headder2{
    font-size: 15px;
    color: #fff;
    text-align: justify;
    padding-left: 35px;
    padding-right: 70px;
}
.theprolog2{
    font-size: 10px;
    color: rgb(202, 188, 202);
    text-align: justify;
    padding-left: 35px;
    padding-right: 60px;
}
.name3{
    
    font-size: 12px;
    color: rgb(0, 0, 0);
    top: 155px;
    left: 77%;
}
.contibustion3{
    
    font-size: 11px;
    color: rgb(148, 144, 144);
    top: 170px;
    left: 77%;
}
.headder3{
    font-size: 15px;
    color: black;
    text-align: justify;
    padding-left: 35px;
    padding-right: 50px;
}
.theprolog3{
    font-size: 13px;
    color: black;
    text-align: justify;
    padding-left: 35px;
    padding-right: 30px;
}
.name4{
    
    font-size: 12px;
    color: rgb(0, 0, 0);
    top: 60%;
    left: 230px;
}
.contibustion4{
    
    font-size: 11px;
    color: rgb(148, 144, 144);
    top: 62%;
    left: 230px;
}
.headder4{
    font-size: 15px;
    color: black;
    text-align: justify;
    padding-left: 35px;
    padding-right: 50px;
}
.theprolog4{
    font-size: 12px;
    color: black;
    text-align: justify;
    padding-left: 35px;
    padding-right: 20px;
}
.name5{
    
    font-size: 12px;
    color: #fff;
    top: 60%;
    left: 36%;
}
.contibustion5{
    
    font-size: 11px;
    color: rgb(148, 144, 144);
    top: 62%;
    left: 36%;
}
.theprolog5{
    font-size: 10px;
    color: #fff;
    text-align: justify;
    padding-left: 35px;
    padding-right: 60px;
}